:root {
  /* Identidade visual */
  --amarelo: #F3ED4F;
  --amarelo-escuro: #E7DF59;
  --cinza: #5A5756;

  /* Base */
  --fundo-claro: #ffffff;
  --fundo-cinza-claro: #f7f7f7;
  --texto-principal: var(--cinza);
  --texto-destaque: #000000;

  /* Suporte */
  --borda-clara: #e0e0e0;
  --sombra-suave: 0 4px 10px rgba(0, 0, 0, 0.05);
}
