footer {
  /* background-color: #e7e4dd; */
  text-align: center;
}

.footer-content {
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* border-top: 1px solid var(--cinza-transparente-20); */

}

.footer-logo img {
  border-radius: 50%;
}

.footer-text p {
  font-size: 0.9rem;
  text-align: center;
}

.footer-text a {
  color: var(--cinza-escuro);
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}

.footer-socials {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-socials li a img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.footer-socials li a img:hover {
  transform: scale(1.1);
}